/*
    Document   : default
    Created on : Jun 8, 2009, 8:04:26 PM
    Author     : Richard Knop
    Description:
        Default styles.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background: white;
    color: #555;
}
#wrapper {
    width: 760px;
    margin: 0 auto;
    padding: 0 1em;
    line-height: 1.3em;
}
#header {
    padding-bottom: 1em;
}
#content {
    float: left;
    width: 500px;
    padding-bottom: 1em;
}
#sidebar {
    float: right;
    width: 185px;
    padding-bottom: 1em;
}
#footer {
    clear: both;
    padding-bottom: 1em;
    font-size: .8em;
}
.clear {
    clear: both;
}
h1, h2, h3, h4, h5, p, ul, ol, pre, code, blockquote, q {
    padding-top: 1em;
}
pre {
    overflow: scroll;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}