/*
    Document   : ie7.css
    Created on : Jul 19, 2009, 12:51:51 PM
    Author     : Richard Knop
    Description:
        IE7 hacks/fixes.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

